@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Texter.Models.ViewModels.SendMessageViewModel


<h2>Send a new message</h2>
<hr />
@using (Html.BeginForm())
{
    <label for="Recipients">Recipients:</label>
    <select id="Recipients" name="Recipients" multiple="multiple">
        @foreach(var contact in ViewBag.User.Contacts)
        {
            <option value=@contact.Number>@contact.Name</option>
        }
    </select>

    @Html.LabelFor(model => model.From)
    @Html.TextBoxFor(model => model.From)
    @Html.LabelFor(model => model.Body)
    @Html.TextBoxFor(model => model.Body)
    <input type="submit" value="Send!" />
}

@Html.ActionLink("Back home", "Index")